<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>

<section>
  <div class="div1">
    <h1>Planificador de CPU</h1>
    <div class="conection">
      <p>{{ status() }}</p>
      <button (click)="Conexion()">Iniciar</button>
    </div>
  </div>

  <div class="div2">
    <label>
      Algoritmo:
<select [(ngModel)]="algorithm">
  <option value="" disabled selected>Selecciona un algoritmo</option>
  <option value="FCFS">FCFS</option>
  <option value="SJF">SJF</option>
  <option value="RR">RR</option>
  <option value="Priority">Priority</option>
</select>    </label>
    <button type="button" (click)="agregarProceso()">Agregar proceso</button>
  </div>

  <div id="process">
    <div *ngFor="let proceso of processes; let i = index" class="container-process">
      <h3>Proceso {{ i + 1 }}</h3>
      <label>
        Id:
        <input type="text" [(ngModel)]="proceso.id" placeholder="ID del proceso" />
      </label>
      <label>
        Tiempo de llegada:
        <input
          type="number"
          [(ngModel)]="proceso.arrivalTime"
          placeholder="Arrival Time"
          disabled
        />
      </label>
      <label>
        Tiempo de Ejecucion:
        <input type="number" [(ngModel)]="proceso.burstTime" placeholder="Burst Time" />
      </label>
      <label>
        Priority:
        <input type="number" [(ngModel)]="proceso.priority" placeholder="Priority" />
      </label>
      <button type="button" (click)="eliminarProceso(i)">Eliminar</button>
    </div>
  </div>
</section>

<!-- Popup -->
<div class="pop-up" *ngIf="mostrarPopUp">
  <div class="pop-up-contenido">
    <!-- Título -->
    <h3>Algoritmo: {{ dataPopUp.algorithm }}</h3>

    <!-- Timeline -->
    <div>
      <table>
        <thead>
          <tr>
            <th>Proceso</th>
            <th>Tiempo de Comienzo</th>
            <th>Tiempo de Finalizacion</th>
            <th>Tiempo de Ejecucion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of dataPopUp.timeline">
              <td>{{ t.processId }}</td>
              <td>{{ t.start }}</td>
              <td>{{ t.end }}</td>
              <td>{{ t.end - t.start }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Botón para cerrar -->
    <button (click)="cerrarPopUp()">Cerrar</button>
  </div>
</div>
